@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&family=Noto+Sans+Armenian:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Armenian", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Cairo", sans-serif;
}

body {
  background-color: #e5e7eb; /* gray-200 for outer background */
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@utility animate-ripple {
  animation: ripple 0.6s linear forwards;
}
